kaleido
cohere
tiktoken
spacy==3.6.0
tensorflow-probability<4.6.0
openai
ipython
swig
gymnasium[box2d]
yfinance
finrl
gym
exchange_calendars
stable_baselines3
pyfolio
h5py
typing-extensions 
wheel
# !git clone https://github.com/AI4Finance-Foundation/FinRL-Meta.git
# %cd /FinRL-Meta/
wrds
swig
# !apt-get update -y -qq && apt-get install -y -qq cmake libopenmpi-dev python3-dev zlib1g-dev libgl1-mesa-glx swig
git+https://github.com/AI4Finance-Foundation/FinRL.git
stockstats
alpaca_trade_api
ray[default]
lz4
ray[tune]
tensorboardX
gputil
trading_calendars
wrds
rqdatac
sqlalchemy==1.2.19
tushare

